<% include ../_head %>
  <% include ../_nav %>


  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Admin</h1>
      </div>
    </div>
    <div class="row">
      <div class="span3">
        <p>
          <a href="/admin/users">Users</a>
        </p>
        <p>
          <a href="/admin/postings">Job Postings</a>
        </p>
      </div>
    </div>
  </div>

<% include ../_foot %>