<div class="left-nav">
  <div class="j">
    <img src="/images/avatar_clear.png" alt="J" />
  </div>
  <div class="menu" id="left-nav-menu-container">


    <div class="option active" onClick="window.location='/account'" title="Profile">
      <i class="icon icon_user white"></i>
    </div>

    <div class="option hide">
      <i class="icon icon_stack white"></i>
      <div class="overlay message">5</div>
    </div>

    <div class="option hide">
      <i class="icon icon_shop white"></i>
    </div>

    <div class="option hide">
      <i class="icon icon_clip white"></i>
    </div>

    <div class="option hide">
      <i class="icon icon_settings white"></i>
    </div>

    <div class="option exit" onClick="window.location='/logout'" title="Logout">
      <i class="icon icon_key white"></i>
    </div>


  </div>
</div>




<!-- Self adjustment scripts -->
<script>
_adjustHeigh = function(x){
  d = document.getElementById('left-nav-menu-container')
  d.style.height = (window.innerHeight - (function(d){t=0;if(d.offsetParent){do{t+=d.offsetTop}while(d=d.offsetParent)}return t})(d))+window.scrollY+'px';
}
_adjustHeigh();
window.addEventListener('resize', _adjustHeigh);
window.addEventListener('scroll', _adjustHeigh);
</script>