<% include ../_head %>
  <% include ../_nav %>


  <div class="account">
    <div class="container">

      <div class="row">
        <div class="span8 offset2">
          <h1>Welcome to Jokudo</h1>
          <p>Your account has been created, but we have not fully finished building the account profile page. We will be sure to let you know when we do, but in the mean time, please check out what the current mockups look like!</p>
        </div>
      </div>


      <div class="row">
        <div class="span8 offset2">
          <img src="http://i.imgur.com/YQBGMBM.png" alt="http://i.imgur.com/YQBGMBM.png"/>
        </div>
      </div>
      <div class="row"><h2>&nbsp;</h2></div>

      <div class="row">
        <div class="span8 offset2">
          <img src="http://i.imgur.com/NP3oKsA.png" alt="http://i.imgur.com/NP3oKsA.png"/>
        </div>
      </div>



    </div>
  </div>

  <% include ../_footer %>
<% include ../_foot %>