<% include ../_head %>
  <% include ../_nav %>

  <div class="masthead single-form">
    <div class="container">
      <div class="row">
        <div class="span4 offset4">

          <div class="main-form">
            <span class="h1">Sign In</span>
            <div class="signin-form">
              <% include ./_login_form %>
              <p class="alt-action">
                or <a href="/register">Register</a>
              </p>
            </div>
          </div>

        </div>
      </div> <!-- end signup row -->
    </div> <!-- End container -->
  </div> <!-- End Masthead -->


  <% include ../_footer %>
<% include ../_foot %>