<% include ../_head %>
  <% include ../_nav %>


  <div class="masthead login single-form">
    <div class="container">
      <div class="row">
        <div class="span6 offset3">

          <div class="main-form">
            <span class="h1">Create an Account</span>
            <div class="signin-form">
              <% include _register_form %>
              <p class="alt-action">
                or <a href="/login">Sign In</a>
              </p>
            </div>
          </div>

        </div>
      </div> <!-- end signup row -->
    </div> <!-- End container -->
  </div> <!-- End Masthead -->


  <% include ../_footer %>
<% include ../_foot %>