<% include ../_head %>

  <% if ( "undefined" !== typeof(errors) && errors.length) { %>
    <% errors.forEach(function(error){ %>
      <p class="error"><%=error%></p>
    <% }) %>
  <% } %>

  <form method="POST" action="/account/reset_password">
    <input type="password" name="password" placeholder="password" />
    <input type="password" name="confirm_password" placeholder="confirm password" />
    <button type="submit">Save!</button>
  </form>

<% include ../_foot %>