<div class="footer" id="footer">
  <div class="container">
    <div class="row">
      <div class="span3">
        <h1>Resources</h1>
        <ul class="footer-list">
          <li><a href="/about">Recruiting Info</a></li>
          <li><a href="mailto:team@jokudo.com?subject=Contact%20Us" target="_blank">Contact Us</a></li>
          <li><a href="http://blog.jokudo.com/" target="_blank">Blog</a></li>
        </ul>
      </div>
      <div class="span3">
        <h1>Get Started</h1>
        <ul class="footer-list">
          <li><a href="/register">Register</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
      <div class="span3">
        <h1>Jokudo</h1>
        <ul class="footer-list">
          <li><a href="/about">About</a></li>
          <li><a href="mailto:team@jokudo.com?subject=Contact%20Us" target="_blank">Contact Us</a></li>
          <li><a href="http://twitter.com/jokudojobs" target="_blank">Twitter</a></li>
          <li><a href="http://blog.jokudo.com/" target="_blank">Blog</a></li>
        </ul>
      </div>
      <div class="span3">
        <h1>I'm A Company</h1>
        <ul class="footer-list">
          <li><a href="mailto:team@jokudo.com?subject=Getting%20Started" target="_blank">Getting Started</a></li>
          <li><a href="mailto:team@jokudo.com?subject=Job%20Posting" target="_blank">Post my Job</a></li>
          <li><a href="mailto:team@jokudo.com?subject=More%20Info" target="_blank">More Info</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>