<div class="footer" id="footer">
  <div class="container">
    <div class="row">
      <div class="span3">
        <h1>Resources</h1>
        <ul class="footer-list">
          <li><a href="#dummy">Recruiting Info</a></li>
          <li><a href="#dummy">Something</a></li>
          <li><a href="#dummy">Blog</a></li>
        </ul>
      </div>
      <div class="span3">
        <h1>Get Started</h1>
        <ul class="footer-list">
          <li><a href="#dummy">Why Us</a></li>
          <li><a href="#dummy">Register</a></li>
          <li><a href="#dummy">Login</a></li>
        </ul>
      </div>
      <div class="span3">
        <h1>Company</h1>
        <ul class="footer-list">
          <li><a href="#dummy">Recruiting Info</a></li>
        </ul>
      </div>
      <div class="span3">
        <h1>Company</h1>
        <ul class="footer-list">
          <li><a href="#dummy">Recruiting Info</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>