<div id="header">
  <div class="container">
    <div id="header-logo">
      <a href="http://<%=domain%>">
        <img src="/images/logo.png" alt="jokudo"/>
      </a>
    </div>
    <div id="user-nav">
      <% if ( !loggedIn ){ %>
      <form class="inline inline-right" method="POST" action="/login">
        <div class="control-block">
          <input type="email" name="email" placeholder="Email"/>
        </div>
        <div class="control-block">
          <input type="password" name="password" placeholder="Password"/>
        </div>
        <div class="control-block">
          <button type="submit" class="btn loginButton" href="/login">Sign In</button>
        </div>
      </form>
      <% } %>
    </div>
  </div>
</div>