<div id="header">
  <div class="container">
    <div id="header-logo">
      <a href="http://<%=domain%>">
        <img src="/images/logo.png" alt="jokudo"/>
      </a>
    </div>
    <div id="user-nav">
      <% if ( !loggedIn ){ %>
      <a class="btn" href="/login">Sign In</a>
      <% } %>
    </div>
  </div>
</div>