<% include _head %>
  <% include _nav %>


  <div class="masthead">
    <div class="container">
      <div class="row">
        <div class="span5 offset1 intro">
          <h1>Share your information to top recruiters and employers</h1>
          <h2>Join today and let your dream job find you.</h2>
        </div>
        <div class="span4 offset1">

          <div class="main-register">
            <h1>Get started now</h1>
            <h2>Have top companies finding your in minutes!<h2>
            <div class="registration-form">
              <% include account/_register_form %>
            </div>
          </div>
        </div>
      </div> <!-- end signup row -->


      <div class="row companies">
        <div class="span2">
          <img src="/images/350x150.gif" />
        </div>
        <div class="span2">
          <img src="/images/350x150.gif" />
        </div>
        <div class="span2">
          <img src="/images/350x150.gif" />
        </div>

        <div class="span2">
          <img src="/images/350x150.gif" />
        </div>
        <div class="span2">
          <img src="/images/350x150.gif" />
        </div>
        <div class="span2">
          <img src="/images/350x150.gif" />
        </div>
      </div> <!-- end companies row -->

    </div> <!-- End container -->
  </div> <!-- End Masthead -->


  <% include _footer %>
<% include _foot %>