<div class="container" id="signup-container">
  <div class="row-fluid">
    <div class="span6 offset3" id="signup-box">
      <h1 class="logo">jokudo</h1>
      <h2 class="tag">/joe-koo-doh/</h2>
      <h3 class="slogan">the lost martial art of job finding</h3>

      <div id="intro-text">
        <p>
          After meditating on the ways of "The Job" in our college dojo, we were enlightened in the path traveled between college and employment. Jokudo allows you to turn the tables on the process, making you visible to recruiting masters at top companies.
        </p>

      </div>

      <div id="user-info">
        <p>Sign up to be notified of our launch!</p>
        <p id="errors" style="display:none;"></p>
        <input type="email" id="email" name="email" placeholder="enter your .edu email address" autofocus="autofocus" required/>
      </div>

      <div id="actions">
        <div class="share">
          <span class='st_facebook'></span>
          <span class='st_googleplus'></span>
          <span class='st_twitter'></span>
          <span class='st_reddit'></span>
          <span class='st_email'></span>
        </div>

        <button id="submit-signup-form">Go</button>
      </div>
    </div> <!-- End signup-box -->
  </div> <!-- End row -->
</div>

<div class="container">
  <div class="row">
    <div class="span6 offset3" id="recruiter-box">
      <p>
        If you are a company interested in hiring, please contact us at <a href="mailto:team@jokudo.com?subject=Recruiting Interest" target="_blank">team@jokudo.com</a>
      </p>
    </div>
  </div>
</div>