<% include _head %>

  <% if ( !everyauth.loggedIn ) { %>

  Not authorized <a href="/login">Please login</a>

  <% } else { %>

  <p>
    You are logged in!...
  </p>
  <pre>
    <%- JSON.stringify(everyauth.user)%>
  </pre>
  <p>
    now <a href="/logout">logout</a>
  </p>

  <% } %>

<% include _foot %>