<% include _head %>

  <% if ( "undefined" !== typeof(errors) && errors.length) { %>
    <% errors.forEach(function(error){ %>
      <p class="error"><%=error%></p>
    <% }) %>
  <% } %>


  <% if ( !everyauth.loggedIn ) { %>


  <form method="POST" action="/register">
    <input type="email" name="email" placeholder="email"/>
    <input type="text" name="first_name" placeholder="First Name"/>
    <input type="text" name="last_name" placeholder="Last Name"/>
    <input type="password" name="<%=everyauth.password.passwordFormFieldName%>" placeholder="password" />
    <button type="submit">Register!</button>
    or <a href="/register">Login</a>
  </form>

  <% } else { %>

  <p>
    You are arelady logged in!... now <a href="/logout">logout</a>
  </p>

  <% } %>

<% include _foot %>