<div class="container" id="signup-container">
  <div class="row-fluid">
    <div class="span6 offset3" id="signup-box">
      <h1 class="logo">Dómo Arigató</h1>
      <h2 class="tag">/Thank you very much/&nbsp;</h2>
      <h3 class="slogan">We are glad you have chosen the path to enlightenment!</h3>

      <div id="intro-text">
        <p>
          We will notify you as soon as we are ready for you to start building out your profile. We can promise that it is not long from now, so keep a sharp eye on your email, and until then, may you have safe travels down the path of life.
        </p>
      </div>

      <div id="actions">
        <div class="share">
          <span class='st_facebook'></span>
          <span class='st_googleplus'></span>
          <span class='st_twitter'></span>
          <span class='st_reddit'></span>
          <span class='st_email'></span>
        </div>
        <a href="http://twitter.com/jokudojobs" target="_blank">Follow us on Twitter</a>
      </div>


    </div> <!-- End signup-box -->
  </div> <!-- End row -->
</div>