<% include _head %>
<div class="container" id="signup-container">
  <div class="row-fluid">
    <div class="span6 offset3" id="signup-box">
      <h1 class="logo">Error</h1>
      <h2 class="tag">Password Reset</h2>
      <h3 class="slogan">Invalid Reset Information</h3>

      <div id="intro-text">
        <p>
          It appears that something just isn't checking out with this password reset. If you think this is an error, please try again, or contact us at <a href="mailto:team@jokudo.com?subject=Password Reset Help" target="_blank">team@jokudo.com</a>
        </p>

      </div>

    </div> <!-- End error-box -->
  </div> <!-- End row -->
</div>

<div class="container">
  <div class="row">
    <div class="span6 offset3" id="recruiter-box">
      <p>
        If you got this message in error, or there is something wrong, please contact us at <a href="mailto:team@jokudo.com?subject=Website Errors" target="_blank">team@jokudo.com</a>
      </p>
    </div>
  </div>
</div>
<% include _foot %>