<% include ../_head %>
  <% include ../_nav %>
  <div class="main">
    <% include ../_left_nav %>

    <% include _jobs_all %>

    <div class="applications container">

      <div class="row">
        <div class="span12">
          <h1>Get started!</h1>
        </div>
      </div>

      <div class="row">
        <div class="span12">
          <div class="job-container">
            <div class="row-fluid">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <% include ../_footer %>
<% include ../_foot %>
