<% include ../_head %>
  <% include ../_nav %>
  <div class="main">
    <% include ../_left_nav %>
    <div class="jobs container">
      <div class="row">
        <div class="span12">
          <div class="row job-container">
            <% postings.forEach(function(job){%>
              <% include _job-card %>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include ../_footer %>
<% include ../_foot %>

<script>
  window.scrollTo(window.scrollX, window.scrollY+document.getElementById('header').offsetHeight);
</script>
